# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [2]:
%pip install pandas
%pip install 'SQLAlchemy==1.4.46'

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hannajobst/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/hannajobst/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==1.4.46 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from SQLAlchemy==1.4.46) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

## Load data

In [3]:
import pandas as pd

df16 = pd.read_sql_table('fine16', 'sqlite:///data/fine_data.sqlite')
df18 = pd.read_sql_table('fine18', 'sqlite:///data/fine_data.sqlite')

### Look at the first rows

In [4]:
df16.head(10)

,jahr,monat,datum_von,kennzeichen1,fahrzeugart,fabrikat,strasse,hausnummer,tatbestand1,tatbestand2,tatbestand3
0,2016,1,2016-01-21 11:15:00.000,K,PKW,OPEL,FRANKFURTER STR.,70,141322,None,None
1,2016,1,2016-01-21 11:52:00.000,LEV,PKW,OPEL,GRAF-ADOLF-STR.,64,113140,None,None
2,2016,1,2016-01-21 10:28:00.000,K,PKW,JAGUAR,JAN-WELLEM-STR.,None,113140,None,None
3,2016,1,2016-01-21 10:20:00.000,K,PKW,FORD,JAN-WELLEM-STR.,None,113140,None,None
4,2016,1,2016-01-21 09:14:00.000,K,PKW,FORD,JAN-WELLEM-STR.,None,113140,None,None
5,2016,1,2016-01-21 08:33:00.000,K,PKW,VW-VOLKSWAGEN,GRONAUER STR.,43-45,112403,None,None
6,2016,1,2016-01-26 08:00:00.000,K,PKW,RENAULT,JOSEPHSKIRCHSTR.,58,142103,None,None
7,2016,1,2016-01-26 07:24:00.000,K,PKW,FIAT,WIPPERFÜRTHER STR.,None,112402,None,None
8,2016,1,2016-01-25 16:23:00.000,K,PKW,MERCEDES,SIEVERSSTR.,36,141312,None,None
9,2016,1,2016-01-25 16:34:00.000,K,PKW,VOLVO,DILLENBURGER STR.,None,141621,None,None

In [8]:
df18.head(10)

,datum_von,kennzeichen1,fahrzeugart,fabrikat,strasse,hausnummer,tatbestand1,tatbestand2,tatbestand3
0,2018-01-06 10:44:00.000,WÜ,PKW,AUDI,GUSTAVSTR.,56,141322,None,None
1,2018-01-06 10:44:00.000,BN,PKW,MAZDA,GUSTAVSTR.,56,141322,None,None
2,2018-01-06 10:38:00.000,NE,PKW,BMW,ZÜLPICHER STR.,311,141322,None,None
3,2018-01-06 10:40:00.000,K,PKW,HONDA,ZÜLPICHER STR.,None,141245,None,None
4,2018-01-29 10:48:00.000,K,PKW,RENAULT,BRÜSSELER STR.,None,113141,None,None
5,2018-01-29 10:48:00.000,BN,PKW,MERCEDES,BRÜSSELER STR.,None,113141,None,None
6,2018-01-29 10:45:00.000,HH,PKW,VW-VOLKSWAGEN,AACHENER STR.,33,141322,None,None
7,2018-01-29 10:32:00.000,K,PKW,AUDI,AACHENER STR.,None,141322,None,None
8,2018-01-29 10:45:00.000,K,PKW,BMW,AACHENER STR.,29,141322,None,None
9,2018-01-05 08:30:00.000,K,PKW,PEUGEOT,SÜLZBURGSTR.,172,141322,None,None

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

#### Dataset 1: Fine Data of Cologne in 2016

In [6]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921353 entries, 0 to 921352
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   jahr          921353 non-null  int64
 1   monat         921353 non-null  int64
 2   datum_von     921353 non-null  object
 3   kennzeichen1  921338 non-null  object
 4   fahrzeugart   921353 non-null  object
 5   fabrikat      920202 non-null  object
 6   strasse       921353 non-null  object
 7   hausnummer    618864 non-null  object
 8   tatbestand1   921353 non-null  object
 9   tatbestand2   47189 non-null   object
 10  tatbestand3   3605 non-null    object
dtypes: int64(2), object(9)
memory usage: 77.3+ MB

In [9]:
df16.describe()

           jahr          monat
count  921353.0  921353.000000
mean     2016.0       6.400916
std         0.0       3.407937
min      2016.0       1.000000
25%      2016.0       4.000000
50%      2016.0       6.000000
75%      2016.0       9.000000
max      2016.0      12.000000

#### Dataset 2: Fine Data of Cologne in 2018

In [7]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73226 entries, 0 to 73225
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datum_von     73226 non-null  object
 1   kennzeichen1  73225 non-null  object
 2   fahrzeugart   73226 non-null  object
 3   fabrikat      73178 non-null  object
 4   strasse       73226 non-null  object
 5   hausnummer    49757 non-null  object
 6   tatbestand1   73226 non-null  object
 7   tatbestand2   4560 non-null   object
 8   tatbestand3   311 non-null    object
dtypes: object(9)
memory usage: 5.0+ MB